In [3]:
from pages.estimate_hours.data_loaders.users import Users

In [4]:
Users().data

                                           UserName
0                Carneiro, Leonardo (TR Technology)
1              Pereira, Luiz Flávio (TR Technology)
2                Guinzani, Henrique (TR Technology)
3               Costa, Christian A. (TR Technology)
4                  Silvestre, Tiago (TR Technology)
..                                              ...
90                    Ramos, Amanda (TR Technology)
91  Pereira Cândido, Izabella Loyse (TR Technology)
92             Freitas, Fernanda D. (TR Technology)
93                    Fração, Diego (TR Technology)
94                    Ribeiro, Hugo (TR Technology)

[95 rows x 1 columns]

                                           UserName
0                Carneiro, Leonardo (TR Technology)
1              Pereira, Luiz Flávio (TR Technology)
2                Guinzani, Henrique (TR Technology)
3               Costa, Christian A. (TR Technology)
4                  Silvestre, Tiago (TR Technology)
..                                              ...
90                    Ramos, Amanda (TR Technology)
91  Pereira Cândido, Izabella Loyse (TR Technology)
92             Freitas, Fernanda D. (TR Technology)
93                    Fração, Diego (TR Technology)
94                    Ribeiro, Hugo (TR Technology)

[95 rows x 1 columns]